# project based
temp
otto/output/*
otto/examples/*

# media
*.mp4
*.mp3
*.jpg

# fonts
*.ttf

# logs
*.log

# pip files
otto.egg*

# test
.nox

# docs
site/

__pypackages__
dist/
build/

# pdm
.pdm.toml