<body>
  <form name="request" action="/render" enctype="multipart/form-data" method="post">
    Name: <input name="name" type="text"><br>
    Logo: <input name="logo" type="text"><br>
    Address: <input name="address" type="text"><br>
    Phone: <input name="phone" type="text"><br>
    Hours: <input name="hours" type="text"><br>
    Website: <input name="website" type="text"><br>
    Initial: <input name="initial" type="textarea"><br>
    Bullets: <input name="bullets" type="textarea"><br>
    Optional: <input name="optional" type="textarea"><br>
    Audio: <input name="audio" type="textarea"><br>
    Media: <input name="media" type="textarea"><br>
    Call: <input name="call" type="text"><br>
    Closing: <input name="closing" type="text"><br>
    Font Color: <input name="fontcolor" type="text"><br>
    Theme Color: <input name="themecolor" type="text"><br>
    Font: <input name="font" type="text"><br>
    Duration: <input name="duration" type="text"><br>
    <input type="submit">
  </form>
  <script type="text/javascript">
    d = document.forms['request'];
    video_data = {{video_data|tojson}};
    d.name.value = video_data.name;
    d.logo.value = video_data.logo;
    d.address.value = video_data.address;
    d.phone.value = video_data.phone;
    d.hours.value = video_data.hours;
    d.website.value = video_data.website;
    d.initial.value = video_data.initial;
    d.bullets.value = video_data.bullets;
    d.optional.value = video_data.optional;
    d.audio.value = video_data.audio;
    d.media.value = video_data.media;
    d.call.value = video_data.call;
    d.closing.value = video_data.closing;
    d.fontcolor.value = video_data.fontcolor;
    d.themecolor.value = video_data.themecolor;
    d.font.value = video_data.font;
    d.duration.value = video_data.duration;
    console.log(video_data);
  </script>
</body>
