<body>
  <form name="request" action="/render" enctype="multipart/form-data" method="post">
    Name: <input name="NAME" type="text"><br>
    Logo: <input name="LOGO" type="text"><br>
    Address: <input name="ADDRESS" type="text"><br>
    Phone: <input name="PHONE" type="text"><br>
    Hours: <input name="HOURS" type="text"><br>
    Website: <input name="WEBSITE" type="text"><br>
    Initial: <input name="INITIAL" type="text"><br>
    Bullets: <input name="BULLETS" type="text"><br>
    Optional: <input name="OPTIONAL" type="text"><br>
    Video: <input name="VIDEOS[]" type="textarea"><br>
    Audio: <input name="AUDIOS[]" type="textarea"><br>
    Media: <input name="MEDIA[]" type="textarea"><br>
    Call: <input name="CALL" type="text"><br>
    Closing: <input name="CLOSING" type="text"><br>
    Font Color: <input name="FONTCOLOR" type="text"><br>
    Theme Color: <input name="THEMECOLOR" type="text"><br>
    Font: <input name="FONT" type="text"><br>
    Duration: <input name="DURATION" type="text"><br>
    <input type="submit">
  </form>
  <script type="text/javascript">
    d = document.forms['request'];
    vid_request = {{vid_request|tojson}};
    d.NAME.value = vid_request.NAME;
    d.LOGO.value = vid_request.LOGO;
    d.ADDRESS.value = vid_request.ADDRESS;
    d.PHONE.value = vid_request.PHONE;
    d.HOURS.value = vid_request.HOURS;
    d.WEBSITE.value = vid_request.WEBSITE;
    d.INITIAL.value = vid_request.INITIAL;
    d.BULLETS.value = vid_request.BULLETS;
    d.OPTIONAL.value = vid_request.OPTIONAL;
    d.VIDEOS[].value = vid_request.VIDEOS;
    d.AUDIOS[].value = vid_request.AUDIOS;
    d.MEDIA[].value = vid_request.MEDIA;
    d.CALL.value = vid_request.CALL;
    d.CLOSING.value = vid_request.CLOSING;
    d.FONTCOLOR.value = vid_request.FONTCOLOR;
    d.THEMECOLOR.value = vid_request.THEMECOLOR;
    d.FONT.value = vid_request.FONT;
    d.DURATION.value = vid_request.DURATION;
    console.log(vid_request);
  </script>
</body>
