<body>
  <form action="/render" enctype="multipart/form-data" method="post">
    Name: <input name="NAME" type="text" value={{vid_request.NAME}}><br>
    Logo: <input name="LOGO" type="text" value={{vid_request.LOGO}}><br>
    Address: <input name="ADDRESS" type="text" value={{vid_request.ADDRESS}}><br>
    Phone: <input name="PHONE" type="text" value={{vid_request.PHONE}}><br>
    Hours: <input name="HOURS" type="text" value={{vid_request.HOURS}}><br>
    Website: <input name="WEBSITE" type="text" value={{vid_request.WEBSITE}}><br>
    Initial: <input name="INITIAL" type="text" value={{vid_request.INITIAL}}><br>
    Bullets: <input name="BULLETS" type="text" value={{vid_request.BULLETS}}><br>
    Optional: <input name="OPTIONAL" type="text" value={{vid_request.OPTIONAL}}><br>
    Video: <input name="VIDEOS" type="list" value={{vid_request.VIDEOS}}><br>
    Audio: <input name="AUDIOS" type="list" value={{vid_request.AUDIOS}}><br>
    Media: <input name="MEDIA" type="list" value={{vid_request.MEDIA}}><br>
    Call: <input name="CALL" type="text" value={{vid_request.CALL}}><br>
    Closing: <input name="CLOSING" type="text" value={{vid_request.CLOSING}}><br>
    Font Color: <input name="FONTCOLOR" type="text" value={{vid_request.FONTCOLOR}}><br>
    Theme Color: <input name="THEMECOLOR" type="text" value={{vid_request.THEMECOLOR}}><br>
    Font: <input name="FONT" type="text" value={{vid_request.FONT}}><br>
    <input type="submit">
  </form>
</body>
